
.mainArea {

    width: 80vw;
    color: white;
    font-size: medium;
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.092);
    margin-left: 17vw;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.chartContainer {
  background-color: rgba(255, 255, 255, 0.6); /* White color with 50% transparency */

}
  